# options

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Imports

In [2]:
import pandas as pd
import os

# Exercise 1 - Read the data

the file is under the folder data and is named `supermarket_sales.csv`

In [4]:
#df = pd.read_csv(...)
df = pd.read_csv('./data/supermarket_sales.csv')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

# Documentation

[source of dataset](https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales)

**Context**
The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data. Predictive data analytics methods are easy to apply with this dataset.

**Attribute information**
- **Invoice id**: Computer generated sales slip invoice identification number
- **Branch**: Branch of supercenter (3 branches are available identified by A, B and C).
- **City**: Location of supercenters
- **Customer type**: Type of customers, recorded by Members for customers using member card and Normal for without member card.
- **Gender**: Gender type of customer
- **Product line**: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
- **Unit price**: Price of each product in $
- **Quantity**: Number of products purchased by customer
- **Tax**: 5\% tax fee for customer buying
- **Total**: Total price including tax
- **Date**: Date of purchase (Record available from January 2019 to March 2019)
- **Time**: Purchase time (10am to 9pm)
- **Payment**: Payment used by customer for purchase (3 methods are available â€“ Cash, Credit card and Ewallet)
- **COGS**: Cost of goods sold
- **Gross margin percentage**: Gross margin percentage
- **Gross income**: Gross income
- **Rating**: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

# Exercise 1.1

How many cities are there in this dataset?

In [9]:
# n_cities = ...
n_cities = df['City'].nunique()
n_cities

3

# Exercise 1.2

What is the average rating of items for this supermarket company?

In [11]:
# ...
average_rating = df['Rating'].mean()
average_rating

6.9727

# Exercise 1.3 a)

How do people prefer to pay in this supermarket? In other words, what is the distribution of the payment methods?

In [13]:
# ...
payment_method = df['Payment'].value_counts()
payment_method

Payment
Ewallet        345
Cash           344
Credit card    311
Name: count, dtype: int64

# Exercise 1.3 b)

What about the distribution of gender of their costumers?

In [15]:
# ...
gender_distribution = df['Gender'].value_counts()
gender_distribution

Gender
Female    501
Male      499
Name: count, dtype: int64

# Exercise 1.4 a)

What is the invoice ID of the most expensive purchase in this dataset?

**hint**: The `Total` column represents the total cost of each purchase

In [ ]:
# invoice_id = ...
index = df['Total'].idxmax()
most_expensive_purchase_id = df.loc[index,['Invoice ID']]
most_expensive_purchase_id

Invoice ID    860-79-0874
Name: 350, dtype: object

# Exercise 1.4 b)

And what was its respective amount?

In [30]:
# amount = ...
amount = df['Total'].max()
amount

1042.65

# Exercise 1.5 a)

What was the product line of the purchase that generated the least gross income for the supermarket?

In [32]:
# product_line = ...
index = df['gross income'].idxmin()
lowest_gross_income_product_line = df.loc[index,['Product line']]
lowest_gross_income_product_line

Product line    Sports and travel
Name: 822, dtype: object

# Exercise 1.5 b)

And what was the amount of the gross income for that purchase?

In [34]:
# lowest_gross_income = ...
lowest_gross_income = df['gross income'].min()
lowest_gross_income

0.5085

# 2 - Masking

# Exercise 2.1

Who spends more on average, women or men?

*hint*: `Total` column will help you with this

# Exercise 2.2

In total, how much did customers pay in taxes in the city of Naypyitaw?

In [ ]:
# total_taxes_Naypyitaw = ...

# Exercise 2.3 a)

What product line is more common for **men** to buy from?

In [ ]:
# top_product_line_men = ...

# Exercise 2.3 b)

What product line is more common for **women** to buy from?

In [ ]:
# top_product_line_women = ...

# Exercise 2.4

What is the city with the highest average rating for their purchases?

# 3 - Plotting

# Exercise 3.1

What is the distribution of our Product line sales? 

**hint**: you want a bar plot for this

In [ ]:
# ...

# Exercise 3.2

What is the distribution of payments for the `Health and beauty` product line in this supermarket company? 

Use a histogram plot to analyze the distribution of payments (`Total` column)

In [ ]:
# ...